
/* Extracted from HTML */

    .profile-container {
        max-width: 1300px !important;
        padding: 0 40px;
        margin: 40px auto 100px;
    }
    .profile-page {
        padding-top: 0;
    }

